@model GaoQue.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <ol class="breadcrumb" style="display: flex; justify-content: center;">
                <li class="breadcrumb-item"><a href="#">Create Category</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "ProductManager")">Category Manager</a></li>
                <li class="breadcrumb-item active">Category</li>
            </ol>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4>Danh Mục</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageUrl" class="control-label"></label>
                            <input type="file" asp-for="ImageUrl" class="form-control" />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Tạo Danh Mục" class="btn btn-secondary" />|
                            <a asp-action="Index" class="btn btn-primary">Quay Lại Trang Danh Mục</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
