@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu? ";
}

<h2 class="text-center">Nhập địa chỉ email của bạn.</h2>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post" class="p-4 border rounded shadow">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg">Đặt lại mật khẩu</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
