@model GaoQue.ViewModels.ProductViewModel


@{
    ViewData["Title"] = "tìm kiếm sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int numOfQuantity = 1;
}

<!-- Navbar Start -->
@await Html.PartialAsync("_MenuPartial")
<!-- Navbar End -->
@using (Html.BeginForm("SearchResults", "Product", FormMethod.Get))
{
}

<div class="container">

    @if (Model != null && Model.Products != null && Model.Products.Any())
    {
        <div class="container mt-4">
            <h3 class="text-center mb-4">Kết quả tìm kiếm:</h3>
            <div class="row justify-content-center">
                @foreach (var item in Model.Products)
                {
                    <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                        <div class="product-item">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/@item.ImageUrl" alt="">
                                <div class="product-overlay">
                                    <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-link"></i></a>
                                    <a class="btn-AddToCart" data-id="@item.Id" href="#"> <i class="bi bi-cart btn btn-square btn-secondary rounded-circle m-1"></i> </a>
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5" asp-controller="Product" asp-action="ProductDetail" asp-route-id="@item.Id">@item.Name</a>
                                <span class="text-primary me-1"> @string.Format("{0:N0}", item.Price) VND</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
