@model GaoQue.ViewModels.HomeViewModel

<div class="container text-center">
    <div class="mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <p class="section-title bg-white text-center text-primary px-3">Loại Sản Phẩm</p>
    </div>

    <div class="row gx-6 align-items-center justify-content-center">
        @foreach (var item in Model.Categories)
        {
        <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
            <div class="text-center product-item">
                <div class="position-relative rice-container">
                    <img class="img-fluid" src="~/img/@item.ImageUrl" alt="">
                    <a class="d-block h10" href="">@item.Name</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>